<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="CrazyIntelligenceProgramm.4703B7D2BF03"
    Publisher="CN=2F909CBB-055E-4443-B55D-6681513C10B8"
    Version="1.0.23.0" />

  <mp:PhoneIdentity PhoneProductId="a84928ae-ec0d-4c0a-8307-7c58789fdbc1" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Visor_DTE</DisplayName>
    <PublisherDisplayName>Crazy Intelligence Programming Studio</PublisherDisplayName>
    <Logo>Assets\Dark\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Visor_DTE"
        Description="VisorDTE"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Dark\Square150x150Logo.png"
        Square44x44Logo="Assets\Dark\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Dark\Wide310x150Logo.png"  Square71x71Logo="Assets\Dark\SmallTile.png" Square310x310Logo="Assets\Dark\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Dark\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
